*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif; 
    background-image: url("Background.jpg");
}

.navbar{
    background-color: #1215bd;
    color: white;
    padding: 15px 30px; 
    background-image: url("Background.jpg"); 
    border: 3px solid black;

    /* Flexbox */
    display: flex;
    justify-content: space-between;
    align-items: center; 
    
}

.logo{
    font-size: 28px;
    font-weight: bold;
}

.nav-links{
    list-style: none;
    display: flex;
    gap: 25px;
}

.nav-links a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    transition: 0.3s;
}

/* Hover Effects */
.nav-links a:hover{
    color: gold;
    border-bottom: 2px solid gold;
    padding-bottom: 5px;
}

/* Media Query */
@media (max-width: 768px){

    .navbar{
        flex-direction: column;
        text-align: center;
    }

    .nav-links{
        flex-direction: column;
        gap: 10px;
        margin-top: 15px;
    }
}